.routeTracker {
    display: flex;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;
    color: rgba(62, 87, 101, 1);
    padding: 1rem 2.75rem;
    background-color: rgba(239, 242, 245, 1);
}

.routeTracker span {
    margin-right: 8px;
}

.routeTracker span:last-child {
    margin-right: 0;
    font-weight: 500;
    color: rgba(15, 22, 41, 1);
}

.heroHeaderResContainer {
    display: none;
}

main {
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 0 2.75rem;
    background-color: rgba(239, 242, 245, 1);
    font-family: 'Inter';
}


section {
    background-color: #fff;
    padding: 22px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

section h3 {
    color: #0F1629;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 16px;
}

section h4 {
    color: #44475B;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 16px;
    display: flex;
    gap: 6px;
    text-align: center;
    align-items: center;
}

section h4 span {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #7C7E8C;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
}


/* right container */


.getStartedContainer {
    padding: 2.25rem 3rem;
    border-radius: 16px;
    text-align: center;
    background-color: #0052FE;
    min-width: 420px;
    margin-bottom: 20px;
}



.getStartedTitle {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 2rem .25rem;
}

.getStartedDescription {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #F2F2F2;
}

.placeholder {
    margin: 25px 0;
}

.getStartedButton {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    color: #0F1629;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}

.getStartedButton span {
    display: flex;
    align-items: center;
}

/* ------ get started end */

/*  horizontal menu */

.horizontalMenuContainer {
    font-size: 1rem;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.horizontalMenuList {
    list-style: none;
    display: flex;
    gap: 34px;
    border-bottom: 1px solid #D3E0E6;
}

.horizontalMenuList::-webkit-scrollbar {
    display: none;
}

.horizontalMenuItems,
.horizontalMenuItemsActive {
    padding: 14px 0;

}

.horizontalMenuItemsActive,
.horizontalMenuItems:hover {
    font-weight: 600;
    color: #0052FE;
    border-bottom: 3px solid #0052FE;
    cursor: pointer;
}

/* --------------- */

/* ----------- */

/* Media query for mobile */
@media (max-width: 768px) {
    .routeTracker {
        padding: .75rem 1rem;
    }

    .heroHeaderResContainer {
        display: block;
    }

    main {
        width: 100%;
        padding: 0 15px;
        flex-direction: column;
    }

    section {
        padding: 18px 12px;
    }

    section h4 {
        font-size: 17px
    }

    .horizontalMenuContainer {
        overflow-x: auto;
    }

    .horizontalMenuList {
        gap: 28px;
        white-space: nowrap;
    }

    .getStartedContainer {
        min-width: 100%;
        padding: 26px 22px;
    }

    .getStartedTitle {
        font-size: 22px;
    }

    .getStartedDescription {
        font-size: 14px;
    }

    .placeholder {
        margin: 18px;
    }

    .placeholder svg {
        width: 139px;
        height: 149px;
    }

    .suggestionResContainer {
        display: none;
    }
}