.header {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgba(222, 223, 226, 1);
    box-shadow: 0 2px 4px rgba(16, 38, 73, 0.06);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.companyName svg{
    height: 24px;
}

/* Media query for mobile */
@media (max-width: 768px) {
    .header {
        height: 64px;
        padding: 0 1.75rem;
    }

    .companyName svg{
        height: 20px;
    }
}